Comparison report
=================


General information
-------------------
This is a comparison report that can include information from several countries and several data sources.


Processing
----------
* This report and all the analysis was generated using the `{{project_name}}` python pipeline.

* Documentation and source code is available at:

<{{project_url}}>

* Version `{{project_version}}` of the pipeline was used.

* This document was generated at `{{now}}` on host `{{hostname}}`.

{{#git}}
* The exact git hash of the latest commit was: `{{git_hash}}`

* Also referred to by its shortened tag `{{git_tag}}`.
{{/git}}

-------


Scope and extent of data sources
--------------------------------
In the following visualizations, we cover 27 of the 28 (past and present) EU member states. The list is the following and excludes Malta:

* Austria, Belgium, Bulgaria, Croatia, Cyprus, Czechia, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden, United Kingdom.

The plots usually run from the earliest official statistics around the year 1990 (depending on the country at hand) to the latest estimates in 2018.

Several data sources are also represented. Currently `forest_puller` provides programmatic access (via cached web-scraping) to the forest measurements from these data sources:

* [IPCC](https://tinyurl.com/y474yu9e).
* [SOEF](https://dbsoef.foresteurope.org/).
* [FAOSTAT-GF](http://www.fao.org/faostat/en/).
* [HPFFRE](https://doi.org/10.5061/dryad.4t880qh).
* EU-CBM (an in-house custom and non-traceable dataset).

\clearpage


Comparison of total forest area
--------------------------------
Below we compare the total forest area as it is reported in five different data sources.

The Y-axis represents area in million of hectares. To provide better insight, the scale is not aligned between countries nor does it start at 0.

The HPFFRE dataset is post-processed before being graphed as we do not wish to show future predictions in this visualization. Instead we show the earliest year of that dataset for each country and extend it to the current year.

If the SOEF dataset is not visible for some countries, it is because the FAOSTAT source precisely matches it and covers the line of the other dataset.

Also, not all datasets are available for all countries, unfortunately.

\vspace{5mm}
{{comp_total_area}}

\clearpage


Comparison of gain and losses
-----------------------------

Below we compare the total losses, gains and net changes in forest biomass for each country.

The Y-axis represents different units depending on the data source considered. Therefor, vertical scales are not directly comparable in the plots. Each source provides a different measure and a slightly different definition for losses and gains.

* IPCC indicates "tons of carbon per hectare (over bark)".
* SOEF indicates "cubic meters over bark per hectare".
* FAOSTAT writes: "Removals of roundwood comprise all quantities of wood felled and removed from the forest and other wooded land or other felling sites. They are measured in cubic meters under bark (without bark)".
* HPFFRE writes: "Stemwood volume measured over bark expressed as unit area volume". It further specifies: "Total stemwood volume measured over bark. Part of tree stem from the felling cut to the tree top with the branches removed, including bark".
* The EU-CBM datasets is composed of "Tons of carbon per hectare (over bark)" as reported in the [CBM-CFS3](https://en.wikipedia.org/wiki/CBM-CFS3) Microsoft Access database. Losses are obtained by summing `soft_production` and `hard_production`. Gains are obtained from the `gross_growth_ag` pool.

Also of note is that the X-axis is not aligned between the different subplots.

Again, not all datasets are available for all countries.

The extra net estimations in dotted lines shown in SOEF and FAOSTAT are acquired by taking the total growing stock in each country and subtracting by the total growing stock of the previous time point. In effect, yielding the growing stock difference along time. Finally we divide by the number of years elapsed and the average area in that time period to obtain the net stock change estimation.

All values are per annum.

\vspace{5mm}
{{comp_increments}}

\clearpage


Conversion to tons of carbon
-----------------------------

Below we compare once again the total losses, gains and net changes in forest biomass for each country.

This results in a series of graphs that are almost identical to the ones above.

The difference is that we harmonize the Y axis units and convert the units into mass for sources which were providing volumes. These were SOEF, FAOSTAT, HPFFRE. Namely, we convert cubic meters over/under bark per hectare to tons of carbon per hectare.

To operate this conversion, we use a dataset provided by SOEF that indicates the proportion of the 10 most common species in terms of growing stock. We then combine this information with a published table specifying wood densities for different species.

The wood density is in [tons / m³] more precisely [oven-dry tonnes of wood per moist m³] and is found at:

    Chapter 4: Forest Land 2006 IPCC Guidelines for National Greenhouse Gas Inventories
    Table 4.14 Basic Wood Density (d) Of Selected Temperate And Boreal Tree Taxa
    https://www.ipcc-nggip.iges.or.jp/public/2006gl/pdf/4_Volume4/V4_04_Ch4_Forest_Land.pdf
    See page 71.

The matching of the species latin name as given in each country does not follow any standard and contains stochastic variations. The matching of the user inputted latin name to its canonical genus is done through natural language processing techniques and string matching strategies.

The average density values are then linearly interpolated for missing years, and padded-by-copy outside of the bounds for which data is provided.

A bark correction factor of 0.88 is applied to the FAOSTAT data source, which provided values in cubic meters under bark instead of over bark.

This value comes from: https://www.unece.org/fileadmin/DAM/timber/publications/DP-49.pdf

The last step is to convert from tons of wood to tons of carbon by using a factor 0.47 (See page 48 of same chapter).

Even after all this, the values cannot be compared directly because of the above ground versus below ground inclusion that differs in some sources. In addition, another issue is that some sources report merchantable biomass and others report total biomass.

To fix this we would have to include yet another factor "R" which corresponds to the ratio of below-ground biomass to above-ground biomass (from Table 4.4), as well as the inclusion of "merchantable" biomass expansion factor.

In the case of SOEF we can also estimate the net stock change by another method. Parsing the growing stock table and subtracting each value from its preceding year will retrieve the stock net change. These estimates appear as crosses and dotted lines in the graphs.

In short the equivalent mass in tons of carbon is obtained by multiplying the volume $v$ by the average density $d_{avg}$
and by the carbon content of dry biomass $0.47$:

$$m = v * d_{avg} * 0.47$$

\vspace{5mm}
{{comp_conv_to_tons}}

\clearpage


Comparison of the growing stock genera composition
--------------------------------------------------

Below we compare the breakdown of a country's growing stock in terms of the tree species that compose it. Namely, we plot the fraction of each genus that the country reported at four different years in the SOEF dataset.

The growing stock here is reported as volumes in cubic meters and converted to a fraction of total volume.

\vspace{5mm}
{{genus_comp}}

\clearpage


Comparison of the genera composition between SOEF and EU-CBM
------------------------------------------------------------

These graphs are similar to the ones above, except we produce a paired stacked barchart this time, comparing the genus breakdown of the growing stock (in terms of volume) between the SOEF dataset and the EU-CBM dataset.

\vspace{5mm}
{{genus_soef_vs_cbm}}

\clearpage


Aggregation of all countries together
-------------------------------------

In the following graphs, we do not separate the results by country, but instead aggregate countries together by either summing or performing an average.

To aggregate a particular statistic and display its evolution along time, the statistic at hand must be available for every single country for each time point. This means that if a single country out of the 27 is missing a value on a particular year, say 2004, we cannot display a point for that year at all in the final graph. Displaying a statistic for the year 2004 for only 26 countries while other points concern 27 countries would break the comparability between each point. Missing values therefor have a disproportionate effect on the following visualizations.

The first graph represents a summation of the area for every country.

{{eu_tot_area}}

\clearpage

The second graph represents an average of the net change (gains - losses) for every country from the IPCC data source.

{{inc_agg_ipcc}}

\clearpage

The third graph represents an average of the losses, gains and net changes, but only for a subset of 11 countries which provided that info to the SOEF source. The list of countries included is the following: 'AT', 'BE', 'HR', 'CY', 'DK', 'FI', 'HU', 'IT', 'NL', 'RO', 'SI'.

{{inc_agg_soef}}

\clearpage

The fourth graph represents an average of the losses (reported production) for every country from the FAOSTAT data source starting in 2000.

{{inc_agg_faostat}}

\clearpage

The fifth graph represents an average of the losses, gains and net changes from the CBM-EU data source.

{{inc_agg_cbm}}

\clearpage

The sixth graph represents a summation of the growing stock per genus statistic from the SOEF data source, but only for a subset of 24 countries which provided that info for the year 2010. The list of countries included is the following: 'AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GB', 'HR', 'HU', 'IE', 'IT', 'LT', 'LV', 'NL', 'PL', 'RO', 'SE', 'SI', 'SK'.

{{eu_tot_genus}}

\clearpage


Tables
------

Here figures several tables containing raw values for comparison purposes.

The first table details the maximum forest area over time for each country. Usually, the last year of the time series has the largest area, but this is not the case for every country. Values are in hectares.

{{max_area}}

\clearpage

The second table is similar to the one above, except that only two sources are shown, IPCC and SOEF. In addition, the divergence between the respective maximum forest area is calculated in the form of a percentage. Values are in hectares.

{{area_ipcc_vs_soef}}

\clearpage

The third table shows the fraction of forest labeled as "available for wood supply". It is calculated by taking the AWS amount and dividing it by the total forest area reported. The only sources providing this information are SOEF and HPFFRE. All values are for the year 2015.

{{avail_for_supply}}

\clearpage

The fourth table shows the average loss and gains (over time) for each country, in each data source.

As every data source provides values at a different granularity and for a different historical time-span, all the average gains and losses displayed here are heterogeneous when it comes to their period covered and measurement count.

Each source also reports the gains and losses in different units in this table. Some use mass and others use volume. Refer to figure \ref{comp_increments} and its descriptive text for more details on the units used.


{{avg_increments}}

\clearpage

The fifth table is similar to table \ref{average_increments} except that all values are converted to mass, using an estimation of the wood density parameter, as explained in figure \ref{comp_conv_to_tons} (see above). Values are in tons of carbon per hectare.

{{avg_inc_to_tons}}

\clearpage

The sixth table shows the average wood density by country, as it was calculated by crossing the species growing stock breakdown provided by SOEF and the density per species table.

{{avg_density}}
