Comparison report
=================


General information
-------------------
This is a comparison report that can include information from several countries and several data sources.


Processing
----------
* This report and all the analysis was generated using the `{{project_name}}` python pipeline.

* Documentation and source code is available at:

<{{project_url}}>

* Version `{{project_version}}` of the pipeline was used.

* This document was generated at `{{now}}` on `{{hostname}}`.

{{#git}}
* The exact git hash of the latest commit was: `{{git_hash}}`

* Also referred to by its shortened tag `{{git_tag}}`.
{{/git}}

-------


Scope and extent of data sources
--------------------------------
In the following visualizations, we cover 27 of the 28 (past and present) EU member states. The list is the following and excludes Malta:

* Austria, Belgium, Bulgaria, Croatia, Cyprus, Czechia, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden, United Kingdom.

The plots usually run from the earliest official statistics around the year 1990 (depending on the country at hand) to the latest estimates in 2018.

Several data sources are also represented. Currently `forest_puller` provides programmatic access (via cached web-scraping) to the forest measurements from these data sources:

* [IPCC](https://tinyurl.com/y474yu9e).
* [SOEF](https://dbsoef.foresteurope.org/).
* [FAOSTAT-GF](http://www.fao.org/faostat/en/).
* [HPFFRE](https://doi.org/10.5061/dryad.4t880qh).
* [FRA](http://www.fao.org/forest-resources-assessment/en/).

\clearpage


Comparison of total forest area
--------------------------------
Below we compare the total forest area as it is reported in five different data sources.

The Y-axis represents area in million of hectares. To provide better insight, the scale is not aligned between countries nor does it start at 0.

The HPFFRE dataset is post-processed before being graphed as we do not wish to show future predictions in this visualization. Instead we show the earliest year of that dataset for each country and extend it to the current year.

If the SOEF dataset is not visible for some countries, it is because the FAOSTAT source precisely matches it and covers the line of the other dataset.

Also, not all datasets are available for all countries, unfortunately.

\vspace{5mm}
{{comp_total_area}}

\clearpage


Comparison of gain and losses
-----------------------------

Below we compare the total losses, gains and net changes in forest biomass for each country.

The Y-axis represents different units depending on the data source considered. Therefor, vertical scales are not directly comparable in the plots. Each source provides a different measure and a slightly different definition for losses and gains.

* IPCC indicates "tons of carbon per hectare (over bark)".
* SOEF indicates "cubic meters over bark per hectare".
* FAOSTAT writes: "Removals of roundwood comprise all quantities of wood felled and removed from the forest and other wooded land or other felling sites. They are measured in cubic meters under bark (without bark)".
* HPFFRE writes: "Stemwood volume measured over bark expressed as unit area volume". It further specifies: "Total stemwood volume measured over bark. Part of tree stem from the felling cut to the tree top with the branches removed, including bark".

Also of note is that the X-axis is not aligned between the different subplots.

Again, not all datasets are available for all countries.

The extra net estimations in dotted lines shown in SOEF and FAOSTAT are acquired by taking the total growing stock in each country and subtracting by the total growing stock of the previous time point. In effect, yielding the growing stock difference along time. Finally we divide by the number of years elapsed and the average area in that time period to obtain the net stock change estimation.

All values are per annum.

\vspace{5mm}
{{comp_increments}}

\clearpage


Conversion to tons of carbon
----------------------------

Below we compare once again the total losses, gains and net changes in forest biomass for each country.

This results in a series of graphs that are almost identical to the ones above.

The difference is that we harmonize the Y axis units and convert all measures into mass for sources which were providing volumes. These were SOEF, FAOSTAT, HPFFRE. In effect, all graphs will now share the IPCC measurements units.

These IPCC measurements are in:

1. Dry carbon content (in the atomic sense).
2. Including both the above ground and below ground parts of the trees (all living biomass).
3. Including both the trunk and leaves (all above ground).
4. Mass (in tons).
5. The tree trunk includes the bark.
6. Per hectare.
7. Per year.

The process we want to accomplish is the following:

    Start --> FAOSTAT (wet, vol, under bark, without branches, etc.)
    End   --> IPCC (dry, mass, over bark, with branches, etc.)

The "BCEF" factor includes both the expansion factor E and the wood density D (see further down) and is found at:

Chapter 4: Forest Land 2006 IPCC Guidelines for National Greenhouse Gas Inventories
Table 4.5 Basic Wood Density (d) Of Selected Temperate And Boreal Tree Taxa
https://www.ipcc-nggip.iges.or.jp/public/2006gl/pdf/4_Volume4/V4_04_Ch4_Forest_Land.pdf
See page 51.

To harmonize we use the following factors:

1. "CF" is the carbon fraction of dry biomass. This is constant per country (at 0.47). Taken from Table 4.3.

2. "R" is the root to shoot ratio. This is variable per country. Taken from Table 4.4. It is based on the result of B*E*D. As it depends on the climate and the level of above-ground biomass in tonnes per hectare.

3. "E" the expansion factor from trunk to trunk+branches. This is variable per country. Taken from Table 4.5. It depends on (i) the climatic zone (ii) the forest type and (iii) the growing stock level in cubic meters.

4. "D" the wood density (dry volumic mass). This is variable per country (around 0.25). Taken from Table 4.5.

5. "B" is the bark correction factor of 0.88. This is constant per country. This measures volume. This value comes from: https://www.unece.org/fileadmin/DAM/timber/publications/DP-49.pdf

The equation in the case of FAOSTAT losses is thus:

$$ L_{IPCC} = L_{FAO} * B * BCEF_R * (1+R) * CF $$

The equation to convert SOEF losses (m3/ha) to IPCC losses (1000 kg of carbon/ha):

$$ L_{IPCC} = L_{SOEF} * BCEF_R * (1+R) * CF $$

The equation to convert SOEF increments (m3/ha) to IPCC gains (1000 kg of carbon/ha):

$$ I_{IPCC} = I_{SOEF} * BCEF_I * (1+R) * CF $$

Only the rows "firs and spruces" and "hardwoods" are considered when picking BCEF.

The bark correction factor is applied only to the FAOSTAT data source, which provided values in cubic meters under bark instead of over bark.

\vspace{5mm}
{{comp_conv_to_tons}}

\clearpage


Comparison of the growing stock genera composition
--------------------------------------------------

Below we compare the breakdown of a country's growing stock in terms of the tree species that compose it. Namely, we plot the fraction of each genus that the country reported at four different years in the SOEF dataset.

The growing stock here is reported as volumes in cubic meters and converted to a fraction of total volume.

\vspace{5mm}
{{genus_comp}}

\clearpage


Aggregation of all countries together
-------------------------------------

In the following graphs, we do not separate the results by country, but instead aggregate countries together by either summing or performing an average.

To aggregate a particular statistic and display its evolution along time, the statistic at hand must be available for every single country for each time point. This means that if a single country out of the 27 is missing a value on a particular year, say 2004, we cannot display a point for that year at all in the final graph. Displaying a statistic for the year 2004 for only 26 countries while other points concern 27 countries would break the comparability between each point. Missing values therefor have a disproportionate effect on the following visualizations.

The first graph represents a summation of the area for every country.

{{eu_tot_area}}

\clearpage

The second graph represents an average of the net change (gains - losses) for every country from the IPCC data source.

{{inc_agg_ipcc}}

\clearpage

The third graph represents an average of the losses, gains and net changes, but only for a subset of 11 countries which provided that info to the SOEF source. The list of countries included is the following: 'AT', 'BE', 'HR', 'CY', 'DK', 'FI', 'HU', 'IT', 'NL', 'RO', 'SI'.

{{inc_agg_soef}}

\clearpage

The fourth graph represents an average of the losses (reported production) for every country from the FAOSTAT data source starting in 2000.

{{inc_agg_faostat}}

\clearpage


The fifth graph represents a summation of the growing stock per genus statistic from the SOEF data source, but only for a subset of 24 countries which provided that info for the year 2010. The list of countries included is the following: 'AT', 'BE', 'BG', 'CY', 'CZ', 'DE', 'DK', 'EE', 'ES', 'FI', 'FR', 'GB', 'HR', 'HU', 'IE', 'IT', 'LT', 'LV', 'NL', 'PL', 'RO', 'SE', 'SI', 'SK'.

{{eu_tot_genus}}

\clearpage


Tables
------

Here figures several tables containing raw values for comparison purposes.

The first table details the maximum forest area over time for each country. Usually, the last year of the time series has the largest area, but this is not the case for every country. Values are in hectares.

{{max_area}}

\clearpage

The second table is similar to the one above, except that only two sources are shown, IPCC and SOEF. In addition, the divergence between the respective maximum forest area is calculated in the form of a percentage. Values are in hectares.

{{area_ipcc_vs_soef}}

\clearpage

The third table shows the fraction of forest labeled as "available for wood supply". It is calculated by taking the AWS amount and dividing it by the total forest area reported. The only sources providing this information are SOEF and HPFFRE. All values are for the year 2015.

{{avail_for_supply}}

\clearpage

The fourth table shows the average loss and gains (over time) for each country, in each data source.

As every data source provides values at a different granularity and for a different historical time-span, all the average gains and losses displayed here are heterogeneous when it comes to their period covered and measurement count.

All values are converted to mass, using an estimation of the wood density parameter, as explained in figure \ref{comp_conv_to_tons} (see above). Values are in tons of carbon per hectare.

{{avg_inc_to_tons}}

\clearpage

The fifth table shows the average wood density by country, as it was calculated by crossing the species growing stock breakdown provided by SOEF and the density per species table.

{{avg_density}}


\clearpage


Correlations
------------

Below we compute and visualize the correlation between the IPCC loss values (per hectare) and the FAOSTAT loss values (per hectare).

Countries are sorted in descending order based on their correlation coefficient (Pearson).

\vspace{5mm}
{{correlation}}

