Comparison report
=================

General information
-------------------
This is a comparison report that can include information from several countries and several data sources.


Processing
----------
* This report and all the analysis was generated using the `{{project_name}}` python pipeline.

* Documentation is available at:

<{{project_url}}>

* Version `{{project_version}}` of the pipeline was used.

* This document was generated at `{{now}}` on host `{{hostname}}`.

{{#git}}
* The exact git hash of the latest commit was: {{git_hash}}

* Also more simply referred to by its shortened tag `{{git_tag}}`.
{{/git}}
-------

Scope and extend of data sources
--------------------------------
In the following visualizations we cover 26 of the 28 (past and present) EU member states. The list is the following:

Austria, Belgium, Bulgaria, Croatia, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain, Sweden, United Kingdom

The plots usually run from the earliest official statistics around the year 1990 (depending on the country at hand) to the latest estimates in 2018.

Several data sources are also represented. Currently `forest_puller` provides programmatic access (via web-scraping) to the forest area data from these data sources:

* [IPCC](https://tinyurl.com/y474yu9e) in red.
* [SOEF](https://dbsoef.foresteurope.org/) in blue.
* [FAOSTAT-GF](http://www.fao.org/faostat/en/) in green.
* [HPFFRE](https://doi.org/10.5061/dryad.4t880qh) in purple.
* EU-CBM (an in-house custom and non-traceable dataset) in orange.

Comparison of total forest area
--------------------------------
Below we compare the total forest area as it is reported in five different data sources.

The Y-axis represents area in million of hectares. To provide better insight, the scale is not aligned between countries nor does it start at 0.

The HPFFRE dataset is post-processed before being graphed as we do not wish to show future predictions in this visualization. Instead we show the earliest year of that dataset for each country and extend it the current year.

If the SOEF dataset is not visible for some countries, it is because the FAOSTAT precisely matches it in many cases and covers the line of the other dataset.

Also, not all datasets are available for all countries.

All values are per annum.

{{comp_total_area}}


Comparison of gain and losses
-----------------------------

Below we compare the total losses, gains and net changes in forest biomass for each country. We cover 26 of the 28 (past and present) EU member states.

The Y-axis represents different units depending on the data source considered. Therefor, vertical scales are not directly comparable in the plots. Each sources provides a different measure and a slightly different definition for losses and gains.

* IPCC indicates "tons of carbon per hectare".
* SOEF indicates "cubic meters over bark per hectare".
* FAOSTAT indicates "Removals of roundwood comprise all quantities of wood felled and removed from the forest and other wooded land or other felling sites. They are measured in m3 under bark (without bark)".
* HPFFRE indicates "Stemwood volume measured over bark expressed as unit area volume". It further specifies "Total stemwood volume measured over bark. Part of tree stem from the felling cut to the tree top with the branches removed, including bark".
* The EU-CBM datasets is composed of "".

Also of note is that the X-axis is not aligned between the different subplots.

Again, not all datasets are available for all countries.

All values are per annum.

\vspace{5mm}

{{comp_increments}}
